<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load my_filters_and_tags %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

    <div class="container">
        <!--面包屑格式的导航栏-->
        <nav class="breadcrumb">
            <!--ordered list，但在面包屑中是以斜杠形式展示-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url "article:article_list" %}?order=normal&search={{ search }}&column={{ column }}&tag={{ tag }}">最新</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url "article:article_list" %}?order=hot&search={{ search }}&column={{ column }}&tag={{ tag }}">最热</a>
                </li>
            </ol>
        </nav>

        <!-- 新增，搜索栏 -->
        <div class="row">
            <div class="col-auto mr-auto">
                <form class="form-inline"
                      action="{% url "article:article_list" %}?order={{ order }}&column={{ column }}&tag={{ tag }}">
                    <input type="text"
                           class="form-control mb-2 mr-sm-2"
                           name="search"
                           placeholder="搜索文章..."

                           required
                    >
                </form>
            </div>
        </div>

        <!--如果search不为空，展示搜索结果-->
        {% if search %}
            {% if articles %}
                <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
                <hr>
            {% else %}
                <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
                <hr>
            {% endif %}
        {% endif %}
        <div class="row mt-2">
            {% for article in articles %}
                <!-- 文章整体是12列 -->
                <!--标题图-->
                {% if article.avatar %}
                    <div class="col-3">
                        <img src="{{ article.avatar.url }}"
                             alt="avatar"
                             style="max-width:100%; border-radius: 20px"
                        >
                    </div>
                {% endif %}
                <div class="col-8">
                    <!-- 栏目名 -->
                    {% if article.column %}
                        <a role="button" href="{% url "article:article_list" %}?column={{ article.column.id }}" type="button"
                                class="btn btn-sm mb-2
                        {% if article.column.title == 'Python' %}
                            btn-success
                        {% elif article.column.title == 'Java' %}
                            btn-danger
                        {% elif article.column.title == 'Diary' %}
                            btn-warning
                        {% else %}
                            btn-dark
                        {% endif %}
                    ">
                            {{ article.column }}
                        </a>
                    {% endif %}

                    <!-- 标签 -->
                    <span>
                    <!--正确的唤起外键方式:A.foreignKey.all-->
                        {% for tag in article.tags.all %}
                            <!--将tag以get方法传给article_list函数-->
                            <a href="{% url "article:article_list" %}?tag={{ tag }}&order={{ order }}&search={{ search }}&column={{ column }}"
                               class=" btn-secondary"
                               style="text-decoration: none;">
                                {{ tag }}
                            </a>
                        {% endfor %}
                    </span>
                    <!-- 标题，也是detail的链接 -->
                    <h4>
                        <b>
                            <a href="{% url "article:article_detail" article.id %}"
                               style="color: black;text-decoration:none;">{{ article.title }}</a>
                        </b>
                    </h4>
                    <!-- 摘要 -->
                    <div>
                        <p style="color: gray;">
                            {{ article.content |slice:'100' }}...
                        </p>
                    </div>
                    <!-- 注脚 -->
                    <p >
                        <!--附加信息-->
                        <!-- 显示浏览量 -->
                        <span class="">
                           <i class="bi bi-eye justify-content-center" style="color: #5fb878"></i>
                            {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                        </span>
                        <!-- 修改为评论的计数 -->
                        <span>
                           <i class="bi bi-chat-right-text" style="color: blue"></i>
                            {{ article.article_comment.count }}&nbsp;&nbsp;&nbsp;
                        </span>
                        <!-- 显示更新时间 -->
                        <!--旧代码: {{ article.updated_time|date:'Y-m-d' }}-->
                        <span>
                            <i class="bi bi-cloud-upload"
                               style="color: hotpink;"></i>{{ article.updated_time|timesince_zh }}&nbsp;&nbsp;&nbsp;
                        </span>
                    </p>

                </div>
                <hr class="m-3" style="width: 100%;"/>
            {% endfor %}
        </div>
        <!-- 页码导航 -->
        <div class="pagination row">
            <div class="d-flex justify-content-center">
            <span class="step-links">
                <!-- 如果不是第一页，则显示上翻按钮 -->
                {% if articles.has_previous %}
                    <!--"&laquo; "是一个HTML元素，代表双向左箭头，也就是页面中的“回到最前”。-->
                    <a href="{% url "article:article_list" %}?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-success">
                        &laquo; 1
                    </a>
                    <!--展示省略号-->
                    <span>...</span>
                    <!--前一页的page_number-->
                    <a href="{% url "article:article_list" %}?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-secondary"
                    >
                        {{ articles.previous_page_number }}
                    </a>
                {% endif %}

                <!-- 当前页面 -->
                <span class="current btn btn-danger btn-lg">
                    {{ articles.number }}
                </span>

                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if articles.has_next %}
                    <a href="{% url "article:article_list" %}?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-secondary"
                    >
                        {{ articles.next_page_number }}
                    </a>
                    <span>...</span>
                    <a href="{% url "article:article_list" %}?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-success"
                    >
                        {{ articles.paginator.num_pages }} &raquo;
                    </a>
                {% endif %}
            </span>
            </div>
        </div>
    </div>

{% endblock content %}

